/* layout */

.container-common {
  width: 100%;
  text-align: center;
}

.vis-container {
  position: fixed;
  .container-common();
}
.result-container {
  position: absolute;
  text-align: center;
  .container-common();
}
.default-container {
  position: fixed;
  bottom: 0;
  background-color: @bg;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  .container-common();
}