@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* color */
/* red-orgnge */
/* #cc3c0c; e1380d;
/* close to white, slightly warm gray */
/* warm gray */
/* golden */
/* dark-red */
/* black transparent */
body {
  margin: 0;
  padding: 0;
  background-color: #b03719;
  font-family: 'Kennerley', 'Goudy Bookletter 19911', 'Times New Roman', 'Georgia', 'Serif';
  color: #f9f6f4;
  letter-spacing: 0.06em;
}
.hide {
  display: hide;
}
.show {
  display: block;
}
/* layout */
.container-common {
  width: 100%;
  text-align: center;
}
.vis-container {
  position: fixed;
  width: 100%;
  text-align: center;
}
.result-container {
  position: absolute;
  width: 100%;
  text-align: center;
}
.default-container {
  position: fixed;
  bottom: 0;
  background-color: #b03719;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
}
/* components */
.vis {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.result {
  /*padding-top: 20px;*/
  padding-bottom: 220px;
  /* same as the total height in the default bottom */
  /* to fill the width on the mobile screen */
  padding-left: 0px;
  padding-right: 0px;
}
.result .result-list {
  margin: 0;
  padding: 0;
}
.result .result-list .item {
  list-style: none;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 126%;
}
.result .result-list .item i {
  color: #efda9b;
}
.result .result-list .item .index-no {
  font-size: 10px;
  color: #444241;
}
.result .result-list .item .line-no {
  font-size: 10px;
  background-color: #444241;
  text-transform: uppercase;
  margin-right: 9px;
  margin-left: 7px;
  padding: 2px 2px 2px 6px;
  letter-spacing: 2px;
}
.result .result-list .item-over {
  list-style: none;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 126%;
  color: #efda9b;
  background-color: rgba(31, 7, 1, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.result .result-list .item-over i {
  color: #efda9b;
}
.result .result-list .item-over .index-no {
  font-size: 10px;
  color: #444241;
}
.result .result-list .item-over .line-no {
  font-size: 10px;
  background-color: #444241;
  text-transform: uppercase;
  margin-right: 9px;
  margin-left: 7px;
  padding: 2px 2px 2px 6px;
  letter-spacing: 2px;
}
.result .result-list .item-over i {
  color: #f9f6f4;
}
.result .result-list .item-over .index-no {
  color: #efda9b;
}
.result .result-list .item-over .line-no {
  color: #efda9b;
  background-color: transparent;
}
.title {
  color: #efda9b;
  font-weight: normal;
  font-size: 28px;
  margin-top: 12px;
  letter-spacing: 4px;
}
.title .amp {
  font-family: Bonodi;
}
.title.small {
  background-color: #a0341e;
  font-size: 20px;
}
.search {
  background-color: #a0341e;
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.search .message {
  font-size: 16px;
}
.search .message i {
  color: #efda9b;
}
.search .search-input {
  width: 100%;
  height: 42px;
  margin-top: 9px;
  padding: 9px 15px;
  font-size: 18px;
  color: #444241;
  background-color: #f9f6f4;
  border: 1px solid #b03719;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
.search .search-input:focus {
  box-shadow: 0 0 8px #efda9b;
  -webkit-box-shadow: i0 0 8px #efda9b;
}
.footer {
  font-size: 13px;
  color: rgba(31, 7, 1, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer a {
  color: rgba(31, 7, 1, 0.5);
  text-decoration: underline;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}
.story {
  font-family: 'Spoqa Han Sans';
  text-align: left;
  font-size: 16px;
  padding-top: 26px;
  padding-left: 15px;
  padding-right: 15px;
  color: #efda9b;
  line-height: 120%;
}
.story p {
  margin-bottom: 16px;
}
.story .main {
  color: #f9f6f4;
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.story .signature {
  font-size: 13px;
  margin-bottom: 20px;
}
