@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

/* color */

/* red-orgnge */
@bg: #b03719; /* #cc3c0c; e1380d;
/* close to white, slightly warm gray */
@main: #f9f6f4;
/* warm gray */
@grey: #444241;
/* golden */
@golden: #efda9b;
/* dark-red */
@dark-red: #a0341e;
/* black transparent */
@black-semi: rgba(31, 7, 1, 0.5);

body {
  margin: 0;
  padding: 0;
  background-color: @bg;
  font-family: 'Kennerley', 'Goudy Bookletter 19911', 'Times New Roman', 'Georgia', 'Serif';
  color: @main;
  letter-spacing: 0.06em;
}

@import 'less/layout';
@import 'less/components';